<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="log.path" value="logs"/>
    <property name="log.pattern.file" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %thread %logger{50} - %msg%n"/>
    <property name="log.pattern.console"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{HH:mm:ss}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%15.15t]){faint} %X{traceId} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${log.pattern.console}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/latest.log</file>
        <encoder>
            <pattern>${log.pattern.file}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/debug-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>

    <logger level="info" name="jdbc.sqlonly"/>
    <logger level="off" name="jdbc.audit"/>
    <logger level="off" name="jdbc.sqltiming"/>
    <logger level="off" name="jdbc.resultset"/>
    <logger level="off" name="jdbc.connection"/>
    <logger level="off" name="com.mysql.jdbc.Driver"/>
    <logger level="off" name="com.baomidou.mybatisplus.core.injector.DefaultSqlInjector"/>

    <logger level="warn" name="org.mongodb"/>
    <logger level="warn" name="org.quartz"/>
    <logger level="warn" name="org.apache.catalina"/>
    <logger level="warn" name="org.springframework.scheduling.quartz"/>
    <logger level="warn" name="org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext"/>
    <logger level="warn" name="org.hibernate.validator.internal.util.Version"/>
    <logger level="warn" name="org.apache.coyote.http11.Http11NioProtocol"/>

    <logger level="debug" name="io.goji" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
